@use '../mixins/responsive.scss' as *;
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-white);
  font-family: "Inter", sans-serif;
  padding-inline: 16px;
  @include responsive (desktop){
    margin-block: auto;
    padding-inline: 165px;
  }
}
