@use '../mixins/responsive.scss' as *;
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-white);
  font-family: "Inter", sans-serif;
  @include responsive (desktop){
    margin-block: auto;
    padding-inline: 165px;
  }
}
body.open::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}