:root {
    --color-white:#FFFDFA;
    --color-darkblue:#00001A;
    --color-grey:#5E607A;
    --color-red:#F15D51;
    --color-silver:#C5C6CE;
    --color-yellow:#E9AA52;
    --text: font-size:0.9375rem;
    --title-xl: font-size:3.5rem;
    --title-l: font-size:2.5rem;
    --title-m: font-size:2rem;
    --title-s: font-size:1.25rem;
    --title-xs: font-size:1.125rem;
}

/* Variables SASS */
